@import './styles/mixins';
@import './styles/createQuiz';
@import './styles/spinner';
@import './styles/emailValidation';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color:#2e3e9d;
    font-family: 'Poppins', sans-serif;
}

//on boarding screen
.onBoarding{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    @include screen-max(576px){
        padding: 20px
    }

    img{
        margin-bottom: 40px;
         @include screen-max(576px){
            width: 100%
        }
    }

    a{
        padding: 15px 20px;
        color: white;
        background: #01bdd7;
        border-radius: 10px;
        font-weight: 600;
        transition: .5s ease all;

        &:hover{
            opacity: .6;
        }
    }
}

//Home Screen
.home{
    width: 100wh;
    height: 100vh;
    background: url('assets/bg.webp') center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    &::after{
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 20;
        background-color: rgba(0,0,0,.3);
    }
    .home-con {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        z-index: 40;

        @include screen-max(576px){
            padding: 10px
        }
        h2{
            color: #fff;
            font-size: 2.5rem;
            margin-bottom: 40px;
            font-weight: 700;
            
    
            @include screen-max(576px){
                font-size: 1.6rem;
                margin-bottom: 20px;
            }
        }
    
        .quiz-category {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 40px;
            overflow-y: auto;
    
            @include screen-max(576px){
                row-gap: 15px;
              
                padding: 10px;
                grid-template-columns: 1fr;
            }
            >div{
                background: #01bdd7;
                padding: 17px 25px;
                font-size: 1.3rem;
                color: white;
                text-align: center;
                font-weight: 600;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 20px;
                cursor: pointer;

                >p{
                    @include screen-max(576px){
                        font-size: 1.3rem;
                    }
                    
                }

                >div{
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    justify-content: center;
                    button{
                        font-size: 1rem;
                        font-weight: 800;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 2px;
                        border: none;
                        outline: none;
                        padding: 4px;
                        background-color: transparent;
                        cursor: pointer;
                        color: #2e3e9d;
                        transition: .4s ease all;
                        box-shadow: 1px 1px 2px 2px rgba(255, 255, 255, .3), -1px -1px 2px 2px rgba(255, 255, 255, 0.3);
    
                        &:hover {
                            padding: 5px;
                            box-shadow: inset 1px 1px 2px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px 2px rgba(255, 255, 255, 0.3);
                        }

                      
    
    
                    }
                }

                
    
                @include screen-max(576px){
                    padding: 20px 15px;
                    font-size: 1.4rem;
                }
            }
        }
    
        .create{
            position: absolute;
            right: 40px;
            top: 40px;
            border: none;
            outline: none;
            background-color: crimson;
            color: white;
            font-weight: 700;
            padding:12px 17px;
            border-radius: 10px;
            cursor: pointer;
            transition: .3s ease all;

            &:hover{
                transform: scale(.9);
            }

            @include screen-max(576px){
                top: 15px;
                right: 20px;
            }

        }
    }

}

//quiz section
.quiz{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 1rem;
    img{
        max-width: 400px;

        @include screen-max(576px){
            max-width: 300px;
        }
    }

    .quiz-question-con {
        background-color: white;
        width: 100%;
        height: 470px;
        padding: .5rem 2.7rem;
        margin-top: .4rem;

        h2{
            font-size: 2.3rem;

            @include screen-max(576px){
                font-size: 1.5rem;
                text-align: center;
            }
        }

        .quiz-details{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-top: 1rem;

            .timer {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 2px;
                font-weight: 700;
            }
        }

        .questions-con {

            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;


            .question{
                background-color: #2e3e9d;
                width: 400px;
                padding: 15px;
                border-radius: 10px;
                text-align: center;
                font-weight: 700;
                @include screen-max(576px){
                    margin-top: 1rem;
                }
            }

            .options-con {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 3rem;
                place-content: center;
                margin-top: 2rem;

                @include screen-max(576px){
                    grid-template-columns: 1fr;
                    gap: 1rem;
                    margin-top: 1rem;
                }
                .option {
                background-color: #2e3e9d;
                padding: 15px;
                width: 170px;
                border-radius: 10px;
                text-align: center;
                font-weight: 700;
                border: none;
                outline: none;
                color: white;
                cursor: pointer;
                transition: .3s ease all;

                &:hover {
                    opacity: .7;
                }

              
                }
            }

            .btns-con{
               display: flex;
               margin-top: 3rem;
               gap: 26px;

               @include screen-max(576px){
                margin-top: 1.5rem;
                
            }
              
               button{
                padding:10px 30px;
                border: none;
                outline: none;
                border-radius: 5px;
                color: white;
                font-weight: 700;
                font-size: 1rem;
                cursor: pointer;
                transition: .3s ease all;

                &:hover{
                    opacity: 0.9;
                }

                
                &:nth-of-type(1) {
                    background-color: #2e3e9d;
                }

                &:nth-of-type(2) {
                    background-color: #01bdd7;
                }
                &:nth-of-type(3) {
                    background-color: crimson;
                }

                &:disabled{
                    background-color: gray;
                    cursor:not-allowed;
                }
               }
            }
        }
    }
}

//results page
.results{
    max-width: 1000px;
    height: 100vh;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
    color: white;

    h2{
        font-size: 3rem;
        margin-bottom: 20px;

    }

    .total{
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 20px;

        span{
            font-size: 2.3rem;
        }
    }

    .result-text{
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 10px;

        p{
            font-size: 1.1rem;
            font-weight: 700;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 40px;
        }
    }

    .btns-con {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        gap: 20px;

        button{
            padding: 13px 25px;
            border-radius: 10px;
            border: none;
            outline: none;
            font-weight: 600;
            font-size: 1rem;
            cursor: pointer;
            transition: .4s ease all;

            @include screen-max(576px){
                padding: 13px 16px;
                font-size: .9rem;
            }



            &:nth-of-type(1) {
                background-color: #01bdd7;
                color: white;
                

                &:hover{
                    border: 1px solid #01bdd7;
                    background-color: transparent;
                    color: #01bdd7;
                }
            }

            &:nth-of-type(2) {
                background-color: crimson;
                color: white;
                

                &:hover{
                    border: 1px solid crimson;
                    background-color: transparent;
                    color: white;
                }
            }
        }
    }

}

.no-quiz{
    color: white;
    font-weight: 600;
    text-align: center;
}

