@import './styles/mixins';
@import './styles/createQuiz';
@import './styles/spinner';
@import './styles/emailValidation';
@import './styles/home';
@import './styles/quiz';
@import './styles/results';
@import './styles/instructions';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color:#2e3e9d;
    font-family: 'Poppins', sans-serif;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

//on boarding screen
.onBoarding{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    @include screen-max(576px){
        padding: 20px
    }

    img{
        margin-bottom: 40px;
         @include screen-max(576px){
            width: 100%
        }
    }

    a{
        padding: 15px 20px;
        color: white;
        background: #01bdd7;
        border-radius: 10px;
        font-weight: 600;
        transition: .5s ease all;

        &:hover{
            opacity: .6;
        }
    }
}

.no-quiz{
    color: white;
    font-weight: 600;
    text-align: center;
}

